body{
  font-family: "Josefin Sans", sans-serif;
  margin: 0%;
  background-color: rgb(241, 241, 241);
}

/*Encabezado*/
header{
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    justify-content: center;
    position: fixed;
    width: 100%; 
    left: 0; 
    top: 0; 
    height: 70px;
    z-index: 99999;
  }
  .logo{
      display: inline-flex;
      }
      
      .logo img{
      height: 60px;
      margin-left: 250px;
      }
      
      .encabezado{
          padding: 20px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 70%;
      }
      
      .enlaces{
          display: flex;
          gap: 30px;
      }
      
      .enlaces a{
          text-decoration: none;
          color: rgb(218, 0, 0);
          font-family: "Josefin Sans", sans-serif;
          font-weight: bold;
          padding: 20px;
          font-size: 13px;
          transition: all 300ms ease;
          text-shadow: 3px 3px 2px rgba(41, 41, 41, 0.199);
      }
      
      .enlaces a:hover{
          transform: scale(1.1);
          background-color:rgb(189, 0, 0);
          color: white;
          cursor: pointer;
      }
  
  /*Submenu de contacto*/
  a {
      text-decoration: none;
    }
  
    ul{
      list-style: none;
    }
  
    .nav li a{
      text-decoration: none;
      background-color: rgb(255, 255, 255);
      padding: 10px ;
      display: block;
    }
  
    nav > li{
      float: left;
    }
  
    .nav li ul {
      display: none;
      position: absolute;
      min-height: 140px;
      padding-top: 10px;
      
    }
  
    .nav li:hover > ul{
      display: block;
    }

/*cONTENIDO F1, PARRILLA*/

.equipos{
    padding: 10%;
    text-align: center;
}

/*mercedes*/

.mercedes img{
    filter: drop-shadow(0 0 0.75rem rgb(0, 190, 159))
}

.mercedes p{
    padding: 10px;
    font-weight: bold ;
    background: rgb(0, 190, 159);
    width: 200px;
    height: auto;
    word-wrap: break-word;
    margin-left: 42%;
    border-radius: 10px 100px / 120px;
    transition: all .3s ease;
}
.mercedes p:hover{
    transform: scale(1.1);
}

/*ferrari*/
.ferrari img{
    filter: drop-shadow(0 0 0.75rem rgb(190, 0, 0))
}

.ferrari p{
    padding: 10px;
    font-weight: bold ;
    background: rgb(190, 0, 0);
    width: 200px;
    height: auto;
    word-wrap: break-word;
    margin-left: 42%;
    border-radius: 10px 100px / 120px;
    transition: all .3s ease;
}
.ferrari p:hover{
    transform: scale(1.1);
}

/*red bull*/
.redbull img{
    filter: drop-shadow(0 0 0.75rem rgb(23, 39, 131))
}

.redbull p{
    padding: 10px;
    font-weight: bold ;
    background: rgb(23, 39, 131);
    width: 200px;
    height: auto;
    word-wrap: break-word;
    margin-left: 42%;
    border-radius: 10px 100px / 120px;
    transition: all .3s ease;
}
.redbull p:hover{
    transform: scale(1.1);
}

/*mclaren*/
.mclaren img{
    filter: drop-shadow(0 0 0.75rem rgb(255, 131, 16))
}

.mclaren p{
    padding: 10px;
    font-weight: bold ;
    background: rgb(255, 131, 16);
    width: 200px;
    height: auto;
    word-wrap: break-word;
    margin-left: 42%;
    border-radius: 10px 100px / 120px;
    transition: all .3s ease;
}
.mclaren p:hover{
    transform: scale(1.1);
}

/*ALPHINE*/
.alphine img{
    filter: drop-shadow(0 0 0.75rem rgb(31, 34, 61))
}

.alphine p{
    padding: 10px;
    font-weight: bold ;
    background: rgb(31, 34, 61);
    width: 200px;
    height: auto;
    word-wrap: break-word;
    margin-left: 42%;
    border-radius: 10px 100px / 120px;
    transition: all .3s ease;
}
.alphine p:hover{
    transform: scale(1.1);
}

/*ASTON MARTIN*/
.aston img{
    filter: drop-shadow(0 0 0.75rem rgb(6, 56, 19))
}

.aston p{
    padding: 10px;
    font-weight: bold ;
    background: rgb(6, 56, 19);
    width: 200px;
    height: auto;
    word-wrap: break-word;
    margin-left: 42%;
    border-radius: 10px 100px / 120px;
    transition: all .3s ease;
}
.aston p:hover{
    transform: scale(1.1);
}

/*alfa romeo*/
.alfa img{
    filter: drop-shadow(0 0 0.75rem rgb(104, 18, 18))
}

.alfa p{
    padding: 10px;
    font-weight: bold ;
    background: rgb(104, 18, 18);
    width: 200px;
    height: auto;
    word-wrap: break-word;
    margin-left: 42%;
    border-radius: 10px 100px / 120px;
    transition: all .3s ease;
}
.alfa p:hover{
    transform: scale(1.1);
}

/*alfa romeo*/
.alfa img{
    filter: drop-shadow(0 0 0.75rem rgb(104, 18, 18))
}

.alfa p{
    padding: 10px;
    font-weight: bold ;
    background: rgb(104, 18, 18);
    width: 200px;
    height: auto;
    word-wrap: break-word;
    margin-left: 42%;
    border-radius: 10px 100px / 120px;
    transition: all .3s ease;
}
.alfa p:hover{
    transform: scale(1.1);
}

/*alfa romeo*/
.alfa img{
    filter: drop-shadow(0 0 0.75rem rgb(104, 18, 18))
}

.alfa p{
    padding: 10px;
    font-weight: bold ;
    background: rgb(104, 18, 18);
    width: 200px;
    height: auto;
    word-wrap: break-word;
    margin-left: 42%;
    border-radius: 10px 100px / 120px;
    transition: all .3s ease;
}
.alfa p:hover{
    transform: scale(1.1);
}

/*ALPHA TAURI*/
.tauri img{
    filter: drop-shadow(0 0 0.75rem rgb(27, 42, 110))
}

.tauri p{
    padding: 10px;
    font-weight: bold ;
    background: rgb(27, 42, 110);
    width: 200px;
    height: auto;
    word-wrap: break-word;
    margin-left: 42%;
    border-radius: 10px 100px / 120px;
    transition: all .3s ease;
}
.tauri p:hover{
    transform: scale(1.1);
}

/*HAAS*/
.haas img{
    filter: drop-shadow(0 0 0.75rem rgb(190, 15, 15))
}

.haas p{
    padding: 10px;
    font-weight: bold ;
    background: rgb(190, 15, 15);
    width: 200px;
    height: auto;
    word-wrap: break-word;
    margin-left: 42%;
    border-radius: 10px 100px / 120px;
    transition: all .3s ease;
}
.haas p:hover{
    transform: scale(1.1);
}

/*WILLIAMS*/
.williams img{
    filter: drop-shadow(0 0 0.75rem rgb(71, 138, 201))
}

.williams p{
    padding: 10px;
    font-weight: bold ;
    background: rgb(71, 138, 201);
    width: 200px;
    height: auto;
    word-wrap: break-word;
    margin-left: 42%;
    border-radius: 10px 100px / 120px;
    transition: all .3s ease;
}
.williams p:hover{
    transform: scale(1.1);
}


    /*fooder*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.footer{
    background-color: rgb(226, 226, 226);
    padding: 80px 0;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: rgb(73, 73, 73);
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid rgb(199, 0, 0);
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #757575;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover{
    color: rgb(199, 0, 0);
    padding-left: 6px;
}

.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: gray;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}

.social-link a:hover{
    background-color: rgb(156, 0, 0);
}

@media(max-width: center){
    .footer-row{
        text-align: center;
    }

    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}

    


    
    